<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <% if (config.favicon) { %>
        <link rel="icon" type="image/x-icon" href="<%= config.favicon %>">
        <% } %>
        <%- partial('_partial/title') %>
        <%- css('css/main') %>
        <% if (config.feed) { %>
        <link rel="alternative" href="<%- url_for(config.feed.path) %>" title="<%= config.title %>" type="application/atom+xml">
        <% } %>
        <%- partial('_partial/track') %>
    </head>
    <body>
        <aside data-bg="<%- bgList() %>">
            <section class="profile">
                <header>
                    <a href="<%- config.root %>"><img src="<%- config.avatar %>" /></a>
                </header>
                <h1><%= config.author %></h1>
                <p><%= config.class %> | <%= config.location %></p>
            </section>
            <%- extLinks() %>
            <section class="cpr">
                <p>© <%= (new Date()).getFullYear() %> Treelite</p>
                <p>Powered by <%- link_to('http://hexo.io/', 'Hexo', {external: true}) %>, <%- link_to('https://github.com/treelite/hexo-theme-matrix', 'Matrix', {external: true}) %> Theme</p>
            </section>
        </aside>

        <main>
            <%- body %>
        </main>
        <script>
            (function () {
                var aside = document.querySelector('aside');
                var bgs = aside.getAttribute('data-bg')
                if (bgs) {
                    bgs = bgs.split(';');
                    var src = bgs[Math.floor(Math.random() * 10 % bgs.length)];
                    var img = new Image();
                    img.onload = function () {
                        aside.style.backgroundImage = 'url('+ src +')';
                        aside.className += ' show-bg';
                        img = null;
                    };
                    img.onerror = function () {
                        img = null;
                    };
                    img.src = src;
                }
            })();
        </script>
    </body>
</html>
